extends layout

block content
 h1 Delete Book from database
 h3 Are you sure you wish to delete the book below? This action is not reversible.
  p= book.title
  p= book.author
  p= book.year
 form(action=`/books/${book.id}/delete`, method="post")
  a(class='button', href='/books/page/1') Nope! Take me back!
  br


  input(type="submit", value = "Yes permenently delete the record")
  