extends layout

block content
 include form-errors

 h1 New Book
 form(action="/books/new", method='post')
  p 
   label(for='title') Title       
   input#title(name='title', type='text', value=book.title)
  p
   label(for='author') Author
   input#author(name='author', type='text', value=book.author)
  p
   label(for='genre') Genre
   input#title(name='genre', type='text', value=book.genre)
  p 
   label(for='Year') Year
   input#title(name='year', type='text', value=book.year)
  p
   input(type='submit', value='Submit')
  p 
   a.button(href='/books/page/1') Cancel operation    